name: Build Matches M3U

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Run generator
        run: |
          python3 build_m3u.py

      - name: Commit and push
        run: |
          git config user.name "m3u-bot"
          git config user.email "m3u-bot@users.noreply.github.com"

          git add matches.m3u

          git diff --cached --quiet && echo "No changes." && exit 0

          git commit -m "Auto update matches.m3u"
          git push
