name: Voll

on:
  workflow_dispatch:   # manual run
  # schedule:
  #   - cron: "*/30 * * * *"   # (opsional) tiap 30 menit

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run JWPlayer extractor
        run: |
          python jw_extract_to_m3u.py

      - name: Commit & push M3U
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add volleyball.m3u
          if [[ `git status --porcelain` ]]; then
            git commit -m "Auto update volleyball.m3u"
            git push
          else
            echo "No changes to commit"
          fi
