name: PPVSort2

on:
    workflow_dispatch:

jobs:
  fetch-streams:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install aiohttp playwright

    - name: Install Playwright Browsers (Chromium)
      run: |
        playwright install chromium
        playwright install-deps

    - name: Run script
      run: |
        python ppvsort.py

    - name: Commit m3u
      if: success()
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add ppvsort.m3u
        git diff --quiet && git diff --staged --quiet || \
        (git commit -m "Update playlist" && git push)
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
