name: StreamedSU Fast

on:
  workflow_dispatch:
  schedule:
    - cron: "*/20 * * * *"   # update tiap 20 menit

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install deps
        run: pip install requests

      - name: Run generator
        run: python streamed_fast.py

      - name: Upload M3U
        uses: actions/upload-artifact@v4
        with:
          name: StreamedSU
          path: StreamedSU.m3u8
