name: StreamedSU Auto Scraper

on:
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install playwright requests
        playwright install chromium

    - name: Run scraper
      run: |
        python streamed.py

    - name: Upload playlist artifact
      uses: actions/upload-artifact@v4
      with:
        name: StreamedSU
        path: StreamedSU.m3u8
