name: FAST Scraper

on:
  workflow_dispatch:

jobs:
  fast:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install requests playwright
        playwright install chromium

    - name: Run FAST Scraper
      run: python streamed_fast.py

    - name: Upload FAST Playlist
      uses: actions/upload-artifact@v4
      with:
        name: StreamedSU_FAST
        path: StreamedSU_FAST.m3u8
