name: Stream_m3u8

on:

  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install deps
        run: pip install requests

      - name: Generate playlist
        run: python streamedsu.py

      - name: Commit & Push
        run: |
          git config user.name "StreamedSU Bot"
          git config user.email "bot@github.com"
          git add stream.m3u8
          git commit -m "Auto update stream.m3u8"
          git push
